<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>无极导航</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jgthms/bulma@0.9.0/css/bulma.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
        .nav-card .columns {
            flex-wrap: wrap;
        }

        .nav-card .nav-item button {
            width: 100%;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
</head>

<body>
    <div id="app">
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        无极导航
                    </h1>
                    <h2 class="subtitle">
                        一个极简导航~~~~~~
                    </h2>
                </div>
            </div>
        </section>

        <section class="container mt-4">
            <div class="field has-addons has-addons-centered">
                <div class="control">
                    <div class="select is-primary is-medium">
                        <select v-model="currentSearchEngineIndex">
                            <option v-for="(item, index) in searchEngines" :key="index" :value="index">{{ item.title }}</option>
                        </select>
                    </div>
                </div>
                <div class="control">
                    <input class="input is-primary is-medium" type="text" v-model="searchKeywords" @keyup.enter="gotoSearch">
                </div>
                <div class="control">
                    <button class="button is-primary is-medium" @click="gotoSearch">搜索</button>
                </div>
            </div>
        </section>

        <section class="container">
            <div class="columns">
                <div class="column is-10">
                    <div class="card nav-card mt-4" v-for="(item, index) in navList" :key="index">
                        <div class="card-header">
                            <div class="card-header-title">{{ item.title }}</div>
                        </div>
                        <div class="card-content">
                            <div class="columns">
                                <div class="column nav-item is-2 has-text-centered" v-for="(navItem, navIndex) in item.navItems"
                                    :key="navIndex">
                                    <button class="button is-primary is-outlined" target="_blank"
                                        @click="jumpTo(navItem.url)" :title="navItem.title">{{ navItem.title }}</button>
                                </div>
                                <div class="column"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <script>
        let version = '1.0.5'
        let dataUrl = `./data/navs.json?_v=${version}`
        let app = new Vue({
            el: '#app',
            data() {
                return {
                    searchEngines: [],
                    currentSearchEngineIndex: 4,
                    searchKeywords: '',
                    navList: []
                }
            },
            mounted() {
                this.fetchData()
            },
            methods: {
                fetchData() {
                    axios.get(dataUrl).then(res => {
                        this.searchEngines = res.data.searchEngines
                        this.navList = res.data.navs
                    }).catch(error => {
                        console.log(error)
                    })
                },

                gotoSearch() {
                    window.open(`${this.searchEngines[this.currentSearchEngineIndex].url}${this.searchKeywords}`)
                },

                jumpTo(url) {
                    window.open(url);
                }
            }
        })
    </script>
</body>

</html>
