<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>无极导航</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jgthms/bulma@0.9.0/css/bulma.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
        .nav-card {
            margin-top: 20px;
        }
        .nav-card .columns {
            flex-wrap: wrap;
        }
        .nav-card .nav-item button {
            width: 100%;
        }
    </style>
</head>

<body>
    <div id="app">
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        无极导航
                    </h1>
                    <h2 class="subtitle">
                        一个极简的导航~~~~~~
                    </h2>
                </div>
            </div>
        </section>

        <section class="container">
            <div class="card nav-card" v-for="(item, index) in navList" :key="index">
                <div class="card-header">
                    <p class="card-header-title">{{ item.title }}</p>
                </div>
                <div class="card-content">
                    <div class="columns">
                        <div class="column nav-item is-2 has-text-centered" v-for="(navItem, navIndex) in item.navs"
                        :key="navIndex">
                            <button class="button is-primary" target="_blank" @click="jumpTo(navItem.url)">{{ navItem.title }}</button>
                        </div>
                        <div class="column"></div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <script>
        var dataUrl = './data/navs.json'
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    navList: []
                }
            },
            mounted() {
                this.fetchData()
            },
            methods: {
                fetchData() {
                    axios.get(dataUrl).then(res => {
                        console.log(res.data)
                        this.navList = res.data
                    }).catch(error => {
                        console.log(error)
                    })
                },
                jumpTo(url) {
                    window.open(url);
                }
            }
        })
    </script>
</body>

</html>